
.row {
margin-left: 0;
margin-right: 0;
}
.wrapperBox {
    position: relative;
    /* width: 45px;
height:100%; 
margin-bottom: 36px;
min-height: 160px;*/

    /*margin-bottom: 80px;*/
    text-align: center;
}
.wrapperBox img {
    border-radius: 150px;
    border: 1px black solid;
    opacity: 0.7;
}
.wrapperBox img:hover {
    border: 1px red solid;
    cursor: pointer;
    opacity: 1;
}
.wrapperBox h4 {
    /*font-weight: bold;*/
    font-style: normal;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 15px;

}

.wrapperBox h5 {
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.wrapperBox blockquote {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;

}

#testimonials{
    background-color:#222; 
}

#testimonials container {

 /*margin-right: 20px;
 margin-left: 20px;*/
}

.testimonials h1{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;
}

.testimonial {
    margin: 0;
    background: #ffffff;
    padding: 10px 50px;
    position: relative;
    font-family: Georgia, serif;
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #ECFBFF;
    /*background-image: linear-gradient(#CEF3FF, #B7EDFF);*/
}
.testimonial:before, .testimonial:after {
    content:"\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
}
.testimonial:before {
    top: 0;
    left: 10px;
}
.testimonial:after {
    content:"\201D";
    right: 10px;
    bottom: -0.5em;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffff;
    margin: 0 0 0 25px;
}

.arrow-up {
width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-bottom: 15px solid #ffffff;
margin: 0 0 0 25px;
}

.testimonial-author {
    margin: 0 0 0 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    text-align:left;
}
.testimonial-author span {
    font-size: 12px;
    color: #666;
}
/* --   ie 7  ie 8-*/
 .container {
    display:table;
    width: 100%;
}
.container h2 {
    text-align: center;
    color: white;
}


/*.row {
    height: 100%;
    display: table-row;
}
.col-sm-4 {
    display: table-cell;
}
*/








/* coaching section---------------- */
 #coaching h2 {
    margin:40px 0;
}
#coaching ul {
    margin-top: 5%;
}
#coaching ul li {
    line-height:24px;
    
}
#coaching {
    background-color: #222;

}
#coaching h1 {
    padding-top: 50px;
    color:#ffffff;
    text-align: center;
}
 #coaching .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.item {
    padding-bottom: 50px;
}
.item img {
    margin-top: 5%;
    height: auto;
    width:450px;
    /*margin-left: -25px;*/
}

.nav-tabs>li, .nav-pills>li{
    width: 33%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#myCarousel .nav a small {
    display: block;
}
#myCarousel .nav {
    background: white;
    margin-bottom: 0;
    /*padding-bottom: 20px;*/
}
.nav-justified > li > a {
    border-radius: 0px;
    background-color: white;
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
    /*border: 1px solid black;
    margin-right: 1px;*/
}
.nav-pills > li[data-slide-to="0"].active a {
    background-color: #222222;
    color: white;
    font-size: 16px;
}
.nav-pills > li[data-slide-to="1"].active a {
    background-color: #222222;
    color: white;
    font-size: 16px;
}
.nav-pills > li[data-slide-to="2"].active a {
    background-color: #222222;
    color: white;
    font-size: 16px;
}
.carousel-inner {
    background-color: white;
}


.fa-ul{

    padding-right: 15px;
    padding-left: 15px;
}

.coach-btn{
 margin-top:20px;
 margin-left: 40%;
}
 /*end coaching*/








/* Footer */            
    
    
    
    
    #menu_top {
       
        background-color: transparent;
       
    }

#socialicons-container{
    background-color:#222;
    padding-bottom: 50px; 
}

    
   
/* Responsive */

@media only screen and (max-width: 1300px) {    
.one_half 
{
width: 48%;
}
}


@media only screen and (max-width: 1024px) {
.one_half 
{
width: 48%;
}

}


@media only screen and (max-width: 767px) {



.one_half 
{
width: 100%;
}

}




@media only screen and (max-width: 450px) {
    
.one_half 
{
width: 100%;
}

.item img {
    margin-top: 20px;
    width: 300px;
    height: auto;

}


.testimonials h1{
    font-size: 2.0em;
}

#coaching h1{
font-size: 2.0em;
}

.wrapperBox img {
    width: 200px;

    
}

.header {
    }
    .vert-text h1 {
        font-size: 2.0em;
    }
}

#royal_preloader.text .loader {
    
    top: 50%;
    left: 50%;
    
}


