html,body{
    background:#222222;
}
li{
    list-style:disc;
}
h1,h2,h3{
    color:#999999;
}
.apparatus_icon{
    background:#f5f5f5;
    border-radius:5px;
}
a:hover{
    color:#899999;
}
.progression_button{
    background-color:aliceblue;
    text-decoration:underline;
    margin:10px;
    padding:3px 3px!important;
}
