/*keep tag links from clustering together*/
.tag-links a{
    padding: 10px;
    text-decoration: underline;
}

/*Share This heading*/
.sd-title{
    padding-top:30px;
    padding-bottom:20px;
}

/*hide blank share link that appears
 * below Share This*/
.share-end{
    display:none;
}

.instagram_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .instagram_wrapper iframe{
        height: 480px !important;
    }
    iframe{
        height: 480px !important;
    }
}
.instagram_wrapper iframe{
    max-width: 400px;
    margin: auto;
}

iframe{
    max-width: 400px;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
}

@media only screen and (max-width: 767px) {
    iframe{
        height: 430px !important;
    }
}

@media only screen and (max-width: 480px) {
    iframe{
        height: 310px !important;
    }
}

