/*used to implement video text overlays with exercise title and volume*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 30px; /* size of chrome */
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container #overlay,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-overlay {
    background:#000;
    opacity:0.5;
    /*background:rgba(255,255,255,0.8); or just this*/
    z-index:50;
    color:#fff;
}
/*used for writing exercise sets and reps on
 * top of youtube video embeds*/
.video-overlay-text{
    margin-top:100px;
    text-align:center;
    font-size:50;
    color:white;
}
